<div class="page">
<section class="section text-center">
<div class="slick-wrap">
  <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="true" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
   
   <div class="item">
      <div class="slick-slide-inner">
        <div class="slick-slide-caption">
            <a class="thumb-ann thumb-mixed_large" href="https://www.stickerscenter.org/wall-stickers" data-lightgallery="item">
            <img src="catalog/view/theme/nofar_theme/image/slider/wallstickers1.jpg" alt="{{ text_wall_stickers }}" title="{{ text_wall_stickers }}" class="thumb-ann__image" />
            <div class="thumb-ann__caption">
              <p class="thumb-ann__title heading-3">{{ text_wall_stickers }}</p>
              <p class="thumb-ann__text">{{ text_wall_stickers_desc }}</p>
            </div>
            </a>
        </div>
      </div>
    </div>
    
   <div class="item">
      <div class="slick-slide-inner">
        <div class="slick-slide-caption">
            <a class="thumb-ann thumb-mixed_large" href="https://www.stickerscenter.org/canvas" data-lightgallery="item">
            <img data-src="catalog/view/theme/nofar_theme/image/slider/canvas1.jpg" alt="{{ text_canvas }}" title="{{ text_canvas }}" class="thumb-ann__image lozad" />
            <div class="thumb-ann__caption"> 
              <p class="thumb-ann__title heading-3">{{ text_canvas }}</p>
              <p class="thumb-ann__text">{{ text_canvas_desc }}</p>
            </div>
            </a>
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="slick-slide-inner">
        <div class="slick-slide-caption">
            <a class="thumb-ann thumb-mixed_large" href="https://www.stickerscenter.org/wallpapers" data-lightgallery="item">
            <img data-src="catalog/view/theme/nofar_theme/image/slider/wallpapers1.jpg" alt="{{ text_wallpapers }}" title="{{ text_wallpapers }}" class="thumb-ann__image lozad" />
            <div class="thumb-ann__caption"> 
              <p class="thumb-ann__title heading-3">{{ text_wallpapers }}</p>
              <p class="thumb-ann__text">{{ text_wallpapers_desc }}</p>
            </div>
            </a>
        </div>
      </div>
    </div>
    
   <div class="item">
      <div class="slick-slide-inner">
        <div class="slick-slide-caption">
            <a class="thumb-ann thumb-mixed_large" href="https://www.stickerscenter.org/rooms/kids-room" data-lightgallery="item">
            <img data-src="catalog/view/theme/nofar_theme/image/slider/wallstickers2.jpg" alt="{{ text_wall_stickers }}" title="{{ text_wall_stickers }}" class="thumb-ann__image lozad" />
            <div class="thumb-ann__caption"> 
              <p class="thumb-ann__title heading-3">{{ text_wall_stickers }}</p>
              <p class="thumb-ann__text">{{ text_wall_stickers }}</p>
            </div>
            </a>
        </div>
      </div>
    </div>
    
   <div class="item">
      <div class="slick-slide-inner">
        <div class="slick-slide-caption">
            <a class="thumb-ann thumb-mixed_large" href="https://www.stickerscenter.org/rooms/kids-room" data-lightgallery="item">
            <img data-src="catalog/view/theme/nofar_theme/image/slider/canvas2.jpg" alt="{{ text_canvas }}" title="{{ text_canvas }}" class="thumb-ann__image lozad" />
            <div class="thumb-ann__caption"> 
              <p class="thumb-ann__title heading-3">{{ text_canvas }}</p>
              <p class="thumb-ann__text">{{ text_canvas }}</p>
            </div>
            </a>
        </div>
      </div>
    </div>
    
   <div class="item">
      <div class="slick-slide-inner">
        <div class="slick-slide-caption">
            <a class="thumb-ann thumb-mixed_large" href="https://www.stickerscenter.org/rooms/kids-room" data-lightgallery="item">
            <img data-src="catalog/view/theme/nofar_theme/image/slider/wallpapers2.jpg" alt="{{ text_wallpapers }}" title="{{ text_wallpapers }}" class="thumb-ann__image lozad" />
            <div class="thumb-ann__caption"> 
              <p class="thumb-ann__title heading-3">{{ text_wallpapers }}</p>
              <p class="thumb-ann__text">{{ text_wallpapers }}</p>
            </div>
            </a>
        </div>
      </div>
    </div>
    
  </div>
</div>
</section>

</div>

<hr>

<div class="custom-services">
    <div class="row box-polyci">
        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft">
            <div class="banner-info banner-info2">
                <div class="inner">
                    <img src="catalog/view/theme/nofar_theme/image/services_icos/free_shipping.png" alt="{{ text_free_shipping }}" title="{{ text_free_shipping }}" class="lozad"/>
                    <div class="banner-cont">
                        <a href="#">{{ text_free_shipping }}</a>
                        <p>{{ free_shipping_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInRight">
            <div class="banner-info banner-info3">
                <div class="inner">
                    <img data-src="catalog/view/theme/nofar_theme/image/services_icos/customer_service.png" alt="{{ text_service }}" title="{{ text_service }}" class="lozad"/>
                    <div class="banner-cont">
                        <a href="#">{{ text_service }}</a>
                        <p>{{ service_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft">
            <div class="banner-info banner-info1">
                <div class="inner">
                    <img data-src="catalog/view/theme/nofar_theme/image/services_icos/easy_returns.png" alt="{{ text_return }}" title="{{ text_return }}" class="lozad"/>
                    <div class="banner-cont">
                        <a href="#">{{ text_return }}</a>
                        <p>{{ return_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInRight">
            <div class="banner-info banner-info4">
                <div class="inner">
                    <img data-src="catalog/view/theme/nofar_theme/image/services_icos/secure.png" alt="{{ text_secure }}" title="{{ text_secure }}" class="lozad"/>
                    <div class="banner-cont">
                        <a href="#">{{ text_secure }}</a>
                        <p>{{ secure_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#start#}
<h3 class="h3-featured-title wow fadeInUp">{{ heading_title }}</h3>
<div class="row">

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="item active">
                {% for product in products[0:4] %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <div class="product-thumb transition">

                            <div class="image">
                                <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad"/></a>
                            </div>

                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                <p>{{ product.sku }}</p>
                                    <p class="price">
                                        {% if not product.special %} {{ product.price }} {% else %}
                                            <span class="price-new">{{ product.special }}</span>
                                            <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                            <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                                    </p>
                            </div>

                            <div class="only-hover">
                                <ul>
                                    <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="{{ product.href }}" data-toggle="tooltip" title="{{ text_details }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>

                            <div class="button-wrap">
                                <ul>
                                    <li class="add-to-cart-btn">
                                        <a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}">
                                            <i class="fa fa-shopping-cart"></i><span>{{ button_cart }}</span></a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>

            <div class="item">
                {% for product in products[4:4] %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        
                        <div class="product-thumb transition">

                            <div class="image">
                                <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad"/></a>
                            </div>

                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                 <p>{{ product.sku }}</p>
                                    <p class="price">
                                        {% if not product.special %} {{ product.price }} {% else %}
                                            <span class="price-new">{{ product.special }}</span>
                                            <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                            <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                                    </p>
                            </div>

                            <div class="only-hover">
                                <ul>
                                    <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="{{ product.href }}" data-toggle="tooltip" title="{{ text_details }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>

                            <div class="button-wrap">
                                <ul>
                                    <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                                    class="fa fa-shopping-cart"></i><span>{{ button_cart }}</span></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>

            <div class="item">
                {% for product in products[8:4] %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <div class="product-thumb transition">

                            <div class="image">
                                <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad"/></a>
                            </div>

                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                 <p>{{ product.sku }}</p>
                                    <p class="price">
                                        {% if not product.special %} {{ product.price }} {% else %}
                                            <span class="price-new">{{ product.special }}</span>
                                            <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                            <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                                    </p>
                            </div>

                            <div class="only-hover">
                                <ul>
                                    <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="{{ product.href }}" data-toggle="tooltip" title="{{ text_details }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>

                            <div class="button-wrap">
                                <ul>
                                    <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                                    class="fa fa-shopping-cart"></i><span>{{ button_cart }}</span></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
{#end#}

<hr>

<div id="five-layout" class="row middle-layout">
<div class="middle-layout col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="images-group lb1 col-xs-12 col-sm-12 col-md-3 col-lg-3 wow fadeInLeftSmall">
        <a href="https://www.stickerscenter.org/home-accessories">
            <img data-src="{{ lightblue_img }}" alt="{{ text_home_accessories }}" title="{{ text_home_accessories }}" class="lozad"/></a>
    </div>
 <div class="triple-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
     <div class="row">
   <div class="images-group ye2 col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeftSmall">
        <a href="https://www.stickerscenter.org/room/kids-room">
        <img data-src="{{ yellow_img }}" alt="{{ text_children }}" title="{{ text_children }}" class="lozad"/></a>
    </div>
    <div class="images-group bl3 col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeftSmall">
       <a href="https://www.stickerscenter.org/rooms/kids-room">
        <img data-src="{{ blue_img }}" alt="{{ text_children }}" title="{{ text_children }}" class="lozad"/></a>
    </div>
    </div>
    <div class="row">
    <div class="images-group pu4 col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeInLeft">
        <a href="https://www.stickerscenter.org/themes/animals">
        <img data-src="{{ purple_img }}" alt="{{ text_canvas }}" title="{{ text_canvas }}" class="lozad" src="{{ purple_img }}" /></a>
    </div>
    </div>
</div>
    <div class="images-group re5 col-xs-12 col-sm-12 col-md-3 col-lg-3 wow fadeInLeftSmall">
        <a href="https://www.stickerscenter.org/themes/animals">
            <img data-src="{{ red_img }}" alt="{{ text_animals }}" title="{{ text_animals }}" class="lozad" src="{{ red_img }}" /></a>
    </div>

</div>
</div>

{#start#}
<h3 class="h3-featured-title wow fadeInDown">{{ new_products }}</h3>
<div class="row">

    <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="item active">
                {% for product in products[20:4] %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <div class="product-thumb transition">

                            <div class="image">
                                <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad"/></a>
                            </div>

                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                 <p>{{ product.sku }}</p>
                                    <p class="price">
                                        {% if not product.special %} {{ product.price }} {% else %}
                                            <span class="price-new">{{ product.special }}</span>
                                            <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                            <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                                    </p>
                            </div>

                            <div class="only-hover">
                                <ul>
                                    <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="{{ product.href }}" data-toggle="tooltip" title="{{ text_details }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>

                            <div class="button-wrap">
                                <ul>
                                    <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                                    class="fa fa-shopping-cart"></i><span>{{ button_cart }}</span></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>

            <div class="item">
                {% for product in products[12:4] %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <div class="product-thumb transition">

                            <div class="image">
                                <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad"/></a>
                            </div>

                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                <p>{{ product.sku }}</p>
                                    <p class="price">
                                        {% if not product.special %} {{ product.price }} {% else %}
                                            <span class="price-new">{{ product.special }}</span>
                                            <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                            <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                                    </p>
                            </div>

                            <div class="only-hover">
                                <ul>
                                    <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="{{ product.href }}" data-toggle="tooltip" title="{{ text_details }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>

                            <div class="button-wrap">
                                <ul>
                                    <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                                    class="fa fa-shopping-cart"></i><span>{{ button_cart }}</span></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>

            <div class="item">
                {% for product in products[16:4] %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <div class="product-thumb transition">

                            <div class="image">
                                <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad"/></a>
                            </div>

                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                 <p>{{ product.sku }}</p>
                                    <p class="price">
                                        {% if not product.special %} {{ product.price }} {% else %}
                                            <span class="price-new">{{ product.special }}</span>
                                            <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                            <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                                    </p>
                            </div>

                            <div class="only-hover">
                                <ul>
                                    <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="{{ product.href }}" data-toggle="tooltip" title="{{ text_details }}"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>

                            <div class="button-wrap">
                                <ul>
                                    <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}">
                                        <i class="fa fa-shopping-cart"></i><span>{{ button_cart }}</span></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

        <a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
{#end#}

<hr>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="image-ad col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeInRight">
        <a href="https://www.stickerscenter.org/canvas">
        <img data-src="{{ canvas_img }}" alt="{{ text_canvas }}" title="{{ text_canvas }}" class="lozad" /></a>
    </div>
    <div class="image-ad col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeInLeftSmall">
        <a href="https://www.stickerscenter.org/themes/cartoons">
        <img data-src="{{ cartoons_img }}" alt="{{ text_cartoons }}" title="{{ text_cartoons }}" class="lozad" /></a>
    </div>
    <div class="image-ad col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeInLeft">
        <a href="https://www.stickerscenter.org/themes/butterflies">
        <img data-src="{{ butterflies_img }}" alt="{{ text_butterflies }}" title="{{ text_butterflies }}" class="lozad" /></a>
    </div>
</div>

{% if direction == 'rtl' %}
<script src="catalog/view/javascript/js/core-he.min.js" type="text/javascript"></script>
{% else %}
<script src="catalog/view/javascript/js/core.min.js" type="text/javascript"></script>
{% endif %}
<script src="catalog/view/javascript/js/script.js" type="text/javascript"></script>

<script type="text/javascript">
    new WOW().init();
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>