{#start#}
<h3 class="h3-featured-title">{{ heading_title }}</h3>
<div class="row">

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="item active">
                {% for product in products[0:4] %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="product-thumb transition">

                        <div class="image">
                            <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad" /></a>
                        </div>

                        <div class="caption">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            {% if product.price %}
                            <p class="price">
                                {% if not product.special %} {{ product.price }} {% else %}
                                <span class="price-new">{{ product.special }}</span>
                                <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="only-hover">
                            <ul>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="Quickview"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <ul>
                                <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                            class="fa fa-shopping-cart"></i><span>Add To Cart</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

            <div class="item">
                {% for product in products[4:4] %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="product-thumb transition">

                        <div class="image">
                            <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad" /></a>
                        </div>

                        <div class="caption">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            {% if product.price %}
                            <p class="price">
                                {% if not product.special %} {{ product.price }} {% else %}
                                <span class="price-new">{{ product.special }}</span>
                                <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="only-hover">
                            <ul>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="Quickview"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <ul>
                                <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                            class="fa fa-shopping-cart"></i><span>Add To Cart</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

            <div class="item">
                {% for product in products[8:4] %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="product-thumb transition">

                        <div class="image">
                            <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad" /></a>
                        </div>

                        <div class="caption">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            {% if product.price %}
                            <p class="price">
                                {% if not product.special %} {{ product.price }} {% else %}
                                <span class="price-new">{{ product.special }}</span>
                                <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="only-hover">
                            <ul>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="Quickview"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <ul>
                                <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                            class="fa fa-shopping-cart"></i><span>Add To Cart</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
{#end#}

<hr>
<div class="custom-services">
    <div class="row box-polyci">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="banner-info banner-info1">
                <div class="inner">
                    <img src="catalog/view/theme/nofar_theme/image/services_icos/returns.png" alt="{{ text_return }}" title="{{ text_return }}" class="lozad" />
                    <div class="banner-cont">
                        <a href="#">{{ text_return }}</a>
                        <p>{{ return_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="banner-info banner-info2">
                <div class="inner">
                    <img src="catalog/view/theme/nofar_theme/image/services_icos/shipping.png" alt="{{ text_free_shipping }}" title="{{ text_free_shipping }}" class="lozad" />
                    <div class="banner-cont">
                        <a href="#">{{ text_free_shipping }}</a>
                        <p>{{ free_shipping_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="banner-info banner-info3">
                <div class="inner">
                    <img src="catalog/view/theme/nofar_theme/image/services_icos/support.png" alt="{{ text_service }}" title="{{ text_service }}" class="lozad" />
                    <div class="banner-cont">
                        <a href="#">{{ text_service }}</a>
                        <p>{{ service_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="banner-info banner-info4">
                <div class="inner">
                    <img src="catalog/view/theme/nofar_theme/image/services_icos/customer-support.png" alt="{{ text_secure }}" title="{{ text_secure }}" class="lozad" />
                    <div class="banner-cont">
                        <a href="#">{{ text_secure }}</a>
                        <p>{{ secure_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="images-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <a href="https://www.stickerscenter.org/themes/cartoons">
        <img data-src="catalog/view/theme/nofar_theme/image/Picture3.png" alt="{{ text_disney }}" title="{{ text_disney }}" class="lozad" /></a>
    </div>
    <div class="images-group small col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <a href="https://www.stickerscenter.org/themes/cartoons">
        <img data-src="catalog/view/theme/nofar_theme/image/Picture4.png" alt="{{ text_disney }}" title="{{ text_disney }}" class="lozad" /></a>
    </div>
        <div class="images-group small col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <a href="https://www.stickerscenter.org/themes/cartoons">
        <img data-src="catalog/view/theme/nofar_theme/image/yellow.png" alt="{{ text_disney }}" title="{{ text_disney }}" class="lozad" /></a>
    </div>
        <div class="images-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <a href="https://www.stickerscenter.org/themes/cartoons">
        <img data-src="catalog/view/theme/nofar_theme/image/Picture6.png" alt="{{ text_disney }}" title="{{ text_disney }}" class="lozad" /></a>
    </div>
</div>

<hr>
{#start#}
<h3 class="h3-featured-title">NEW PRODUCTS</h3>
<div class="row">

    <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="new-item active">
                {% for product in products[20:4] %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="product-thumb transition">

                        <div class="image">
                            <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad" /></a>
                        </div>

                        <div class="caption">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            {% if product.price %}
                            <p class="price">
                                {% if not product.special %} {{ product.price }} {% else %}
                                <span class="price-new">{{ product.special }}</span>
                                <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="only-hover">
                            <ul>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="Quickview"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <ul>
                                <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                            class="fa fa-shopping-cart"></i><span>Add To Cart</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

            <div class="new-item">
                {% for product in products[12:4] %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="product-thumb transition">

                        <div class="image">
                            <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad" /></a>
                        </div>

                        <div class="caption">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            {% if product.price %}
                            <p class="price">
                                {% if not product.special %} {{ product.price }} {% else %}
                                <span class="price-new">{{ product.special }}</span>
                                <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="only-hover">
                            <ul>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="Quickview"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <ul>
                                <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                            class="fa fa-shopping-cart"></i><span>Add To Cart</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

            <div class="new-item">
                {% for product in products[16:4] %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="product-thumb transition">

                        <div class="image">
                            <a href="{{ product.href }}"><img data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lozad" /></a>
                        </div>

                        <div class="caption">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            {% if product.price %}
                            <p class="price">
                                {% if not product.special %} {{ product.price }} {% else %}
                                <span class="price-new">{{ product.special }}</span>
                                <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %}
                                <span class="price-tax">{{ text_tax }}{{ product.tax }}</span> {% endif %}
                            </p>
                            {% endif %}
                        </div>

                        <div class="only-hover">
                            <ul>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a></li>
                                <li><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a onclick="wishlist.add('{{ product.product_id }}');" data-toggle="tooltip" title="Quickview"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <ul>
                                <li class="add-to-cart-btn"><a onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}"><i
                                            class="fa fa-shopping-cart"></i><span>Add To Cart</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

        <a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
{#end#}


<script type="text/javascript">
    <!--
    $(document).ready(function() {
        const observer = lozad();
        observer.observe();
    });
    //
    -->
</script>