{% for module in modules %}
{{ module }}
{% endfor %}



{#<hr>#}
{#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#    <div class="image-ad col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#        <a href="https://www.stickerscenter.org/canvas">#}
{#        <img data-src="catalog/view/theme/nofar_theme/image/canvas.png" alt="{{ text_canvas }}" title="{{ text_canvas }}" class="lozad" /></a>#}
{#    </div>#}
{#    <div class="image-ad col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#        <a href="https://www.stickerscenter.org/themes/cartoons">#}
{#        <img data-src="catalog/view/theme/nofar_theme/image/disney.png" alt="{{ text_disney }}" title="{{ text_disney }}" class="lozad" /></a>#}
{#    </div>#}
{#    <div class="image-ad col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#        <a href="https://www.stickerscenter.org/themes/butterflies">#}
{#        <img data-src="catalog/view/theme/nofar_theme/image/butterflies.png" alt="{{ text_butterflies }}" title="{{ text_butterflies }}" class="lozad" /></a>#}
{#    </div>#}
{#</div>#}