{% if languages|length > 1 %}
<div>
<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
<div class="btn-group">
<button class="btn btn-link dropdown-toggle" aria-label="Dropdown" data-toggle="dropdown">
{% for language in languages %}
{% if language.code == code %}
<img class="hidden-md hidden-lg" src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" />
{% endif %}
{% endfor %}
<span class="hidden-xs hidden-sm">{{ text_language }}</span>&nbsp;<i class="fa fa-angle-down"></i>
</button>
<ul class="dropdown-menu">
    {% for language in languages %}
    <li><button class="btn btn-link btn-block language-select" type="button" aria-label="Languages code" name="{{ language.code }}">
    <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"/> {{ language.name }} </button></li>
    {% endfor %}
</ul>
</div>
<label id="lang-label"><input type="hidden" name="code" value=""/></label>
{#<label><input type="hidden" name="redirect" value="{{ redirect }}"/></label>#}
</form>
</div>
{% endif %}