<header class="hidden-sm hidden-md hidden-lg">
    
    <ul id="slide-out" class="side-nav custom-scrollbar">
         
        {# logo #}
        <li>
            <div class="logo-wrapper waves-light">
                <a href="{{ home }}"><img src="{{ logo }}"  title="{{ name }}" alt="{{ name }}" class="img-fluid flex-center"/></a>
            </div>
        </li>
        
        {# Social #}
        <li>
            <ul class="social">
                <li><a href="https://www.facebook.com/madbekot.comp/" class="fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
                <li><a href="https://www.instagram.com/stickers_center_israel/" class="pin-ic"><i class="fab fa-instagram"> </i></a></li>
                <li><a href="https://plus.google.com/101066463055015880710" class="gplus-ic"><i class="fab fa-google-plus-g"> </i></a></li>
                <li><a href="https://twitter.com/stickers_center?lang=he" class="tw-ic"><i class="fab fa-twitter"> </i></a></li>
            </ul>
        </li>
            
        {# Search Form #}
        <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
            
        {# Side navigation links  #}
        <li>
            <ul class="collapsible collapsible-accordion">
                
                {% for category in categories[0:3] %}
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-bookmark"></i> {{ category.name }}<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        
                        <ul class="collapsible collapsible-accordion">
                            <li><a class="collapsible-header waves-effect arrow-r">{{ text_rooms }}  <i class="fas fa-angle-up rotate-icon"> </i></a>
                               <div class="collapsible-body">
                                <ul>
                                {% for child in category.children[0:8] %}
                                <li><a href="{{ child.href }}" class="waves-effect">{{ child.name }}</a></li>
                                {% endfor %}
                                </ul>   
                                </div>
                            </li>
                        </ul> 
                        
                        <ul class="collapsible collapsible-accordion">
                            <li><a class="collapsible-header waves-effect arrow-r">{{ text_themes }}  <i class="fas fa-angle-up rotate-icon"> </i></a>
                               <div class="collapsible-body">
                                <ul>
                                {% for child in category.children[8:8] %}
                                <li><a href="{{ child.href }}" class="waves-effect">{{ child.name }}</a></li>
                                {% endfor %}
                                </ul>   
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </li>
                {% endfor %}
                
                {% for category in categories[3:5] %}
                
                    {% if category.children %}
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-bookmark"></i> {{ category.name }}<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {% for child in category.children[0:8] %}
                                        <li><a href="{{ child.href }}" class="waves-effect">{{ child.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        
                    {% else %}
                        <li><a href="{{ category.href }}" class="collapsible-header waves-effect">{{ category.name }}</a></li>
                    {% endif %}
                    
                {% endfor %}
            </ul>
        </li>
        <div class="sidenav-bg mask-strong"></div>
    </ul>
    
    {# Navbar #}
    <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
        <div class="container">
            {# SideNav slide-out button starts #}
            <div class="float-left mr-2">
                <a data-activates="slide-out" class="button-collapse"><span onclick="openNav()">&#9776;</span></a>
            </div>
            {# SideNav slide-out button ends #}
            
            <div id="logo">
                <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/></a>
            </div>
            
        </div>
    </nav>
    
</header>

<hr id="hr-menu" class="hidden-xs">
    
<div class="container hidden-xs">
  <div class="header-main hidden-xs">

    <nav class="nav-container" role="navigation">

      <div class="nav-inner container hidden-xs">
          
        <div id="menu" class="main-menu collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">{#11#}
            {% for category in categories[0:3] %} {#1#}

            <li class="top_level dropdown">
              <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}&nbsp;<i class="fa fa-angle-down"></i> </a>

        <div class="dropdown-menu megamenu column1">
                  
                <div class="dropdown-inner">
                   <div>
                       <h5 class="menu-header">{{ text_rooms }}</h5>
                    <ul class="list-unstyled childs_1">{#22#}
                      {% for child in category.children[0:8] %} {#2#}
                    <li>
                      <a href="{{ child.href }}">{{ child.name }}</a>
                    </li>
                  {% endfor %} {#2#}
                  </ul>{#22#}
                </div>
              </div>

                <div class="dropdown-inner">
                   <div>
                       <h5 class="menu-header">{{ text_themes }}</h5>
                    <ul class="list-unstyled childs_1">{#22#}
                          {% for child in category.children[8:8] %} {#2#}
                    <li>
                      <a href="{{ child.href }}">{{ child.name }}</a>
                    </li>
                  {% endfor %} {#2#}
                  </ul>{#22#}
                </div>
              </div>
              
                 </div>
            </li>
            {% endfor %} {#1#}
            
{% for category in categories[3:5] %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
        
          </ul>{#11#}
          
        </div>
      </div>

    </nav>
  </div>
</div>

<hr id="hr-bottom-menu" class="hidden-xs">


